.board {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.dark {
  background-image: radial-gradient(circle, darkblue, black);
  color: white;
  width: 100%;
}

.light {
  background-image: radial-gradient(circle, white, orange);
  color: black;
  border-color: black;
}

.tile {
  width: 75px;
  height: 75px;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: inherit;
  background-color: inherit;
  font-size: 4em;
  color: inherit;
}

button:focus {
  outline: inherit;
}

.table {
  text-align: center;
}
