.tile {
  width: 75px;
  height: 75px;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: inherit;
  background-color: inherit;
  font-size: 4em;
  color: inherit;
}

button:focus {
  outline: inherit;
}
